<button class="knop-primair">Zoek</button>

  <div class="filter_kolom">
    <label class="element-left">Afstand</label>
    <select id="afstand" name="afstand">
					<option value="drie-km">3km</option>
					<option value="vijf-km">5km</option>
					<option value="acht-km">8km</option>
          <option value="tien-km">10km</option>
          <option value="vijftien-km">15km</option>
		</select>
    <label class="element-left">Lengte</label>
    <select id="lengte" name="lengte">
					<option value="een-twee">1 - 2km</option>
					<option value="drie-vijf">3 - 5km</option>
					<option value="vijf-tien">5 - 10km</option>
          <option value="tien-twaalf">10 - 12km</option>
          <option value="twaalf-vijftien">12 - 15km</option>
		</select>
    <label class="element-left">Ondergrond</label>
    <select id="ondergrond" name="ondergrond">
					<option value="verhard">verhard</option>
					<option value="vijf-km">bosgrond</option>
					<option value="acht-km">boskiezel</option>
          <option value="tien-km">gras</option>
          <option value="vijftien-km">halfverhard</option>
          <option value="verhard">gravel</option>
					<option value="vijf-km">dolomiet</option>
					<option value="acht-km">zand</option>
          <option value="tien-km">houtsnippers</option>
          <option value="vijftien-km">tartan</option>
		</select>

    <p class="element-left">Kleedkamers</p>
    <label class="switch element-right">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <p class="element-left">Douches</p>
    <label class="switch element-right">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <p class="element-left">Lockers</p>
    <label class="switch element-right">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <p class="element-left">Toiletten</p>
    <label class="switch element-right">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <p class="element-left">Drinkfontein</p>
    <label class="switch element-right">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <p class="element-left">Gratis Toegang</p>
    <label class="switch element-right">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
