<% include head %>
<div id="bg_Kleur2">

  <div class='header'>
  <h1>FILTER</h1>
  <a href="/menu" class="terug"> &#8249 </a>
  </div>

      <div class="filter-container">
        <div class="filter-knoppen">
          <button data-name="*">Alles</button>
          <button data-name=".kleedkamers">Kleedkamers</button>
          <button data-name=".douches">Douches</button>
          <button data-name=".lockers">Lockers</button>
          <button data-name=".toilet">Toiletten</button>
          <button data-name=".drink">Drinkfontein</button>
          <button data-name=".gratis">Gratis Toegang</button>
        </div>

        <div class="filter-grid">
          <div class="grid-deel kleedkamers douches lockers toilet gratis">Sportcentrum Het Rooi</div>
          <div class="grid-deel kleedkamers douches lockers toilet drink gratis">Park Spoor Noord</div>
          <div class="grid-deel lockers toilet drink gratis">Middelheim</div>
          <div class="grid-deel lockers toilet drink gratis">Nachtegalenpark</div>
          <div class="grid-deel drink gratis">Wilrijkse Plein</div>
          <div class="grid-deel toilet gratis">Sportpark Schinde</div>
          <div class="grid-deel kleedkamers douches toilet gratis">Sportcentrum Rode Loop</div>
          <div class="grid-deel toilet gratis">Sportpark Ruggeveld</div>
          <div class="grid-deel toilet gratis">Stadspark</div>
          <div class="grid-deel toilet gratis">Fort VI</div>
          <div class="grid-deel toilet gratis">Sportpark Willem Eekeleers</div>
          <div class="grid-deel toilet drinke gratis">Rivierenhof</div>
          <div class="grid-deel toilet gratis">Scheldekaaien Waterloop</div>
          <div class="grid-deel toilet gratis">Fort VIII</div>
          <div class="grid-deel drink gratis">Brilschanspark</div>
          <div class="grid-deel drink gratis">Wolvenberg</div>
          <div class="grid-deel gratis">Muisbroek</div>
          <div class="grid-deel gratis">Boekenbergpark</div>
          <div class="grid-deel gratis">Boelaerpark</div>
          <div class="grid-deel gratis">Bremweide</div>
          <div class="grid-deel toilet gratis">Fort Van Merksem</div>
          <div class="grid-deel gratis">Galgenweel</div>
          <div class="grid-deel gratis">Hof De Bist</div>
          <div class="grid-deel gratis">Groen Hart</div>
          <div class="grid-deel gratis">Kielpark</div>
          <div class="grid-deel gratis">Mastvest</div>
          <div class="grid-deel gratis">Reigersbos</div>
        </div>
      </div>
</div>

<!-- ISOTOPE -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="js/filter.js"></script>

<% include footer %>
