<div id='bg_Kleur'>
  <div class='header'>
  <h1>MENU</h1>
  </div>
<nav>

<div class="grid-container">
  <div class="grid-item"><img class='imgMenu' src="/imgs/s4.png"></div>
  <div class="grid-item"><img class='imgMenu' src="/imgs/s3.png"></div>
  <div class="grid-item"><a class='knop-menu' href="/start">Start</a></div>
  <div class="grid-item"><a class='knop-menu' href="/filter">Filter</a></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"><img class='imgMenu' src="/imgs/s1.png"></div>
  <div class="grid-item"><img class='imgMenu' src="/imgs/s2.png"></div>
  <div class="grid-item"><a class='knop-menu' href="/locatie">Locatie</a></div>
  <div class="grid-item"><a class='knop-menu' href="/lijst">Lijst</a></div>
</div>

</nav>
</div>
