<% include head %>
<div id="bg_Kleur">

  <div class='header'>
  <h1>START</h1>
  <a href="/menu" class="terug"> &#8249 </a>
  </div>


  <div class="cssstopwatch">

  <h2>Tijd</h2>

  <div class="stopwatch"></div>

  <h2>Snelheid</h2>
  <p>9 km/h</p>


  <nav class="controls">
    <a href="#" class="button" onClick="stopwatch.start();">Start</a>
    <a href="#" class="button" onClick="stopwatch.stop();">Stop</a>
    <a href="#" class="button" onClick="stopwatch.restart();">Restart</a>
  </nav>

  <% include footer %>

  </div>

  <script src="js/stopwatch.js"></script>
